<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Aushadhi 1.0</title>
</head>
<header>
    <div class="topnav"> 
        <a class="homeAndLogo" href="#homeAndLogo" ><img class="logo" src="images/doctor_387561.png" alt="site_Logo"></a>
        <a class="home" href="#home" >CN Project</a>
        <input type="text" name="search" class ="searchInput" required autocomplete="off"  placeholder="Search for Medicines,Doctors and more...">
        <!-- <label for="search"><span>🧐 Search for Medicines,Doctors and more...</span></label> -->
        <a class="login" href="#login">Login</a>
        <a class="ambulances" href="#ambulances">Ambulances</a>
        <a class="cartAndLogo" href="#cartLogo"><img class="cartLogo" src="Images/first-aid-kit_885977.png" alt="Cart"></a>
        <a class="cart" href="#cart">Cart</a>
        <a class="account" href="#account"><img class="accountLogo" src="Images/user_1177568.png" alt="Account"></a>
        
      </div>
    <div class="bottomnav">
        
            
        <a class="nearbyHospitals" href="/nearbyHospital">Nearby Hospitals</a>
        <a href="/nearbyPharmacy" class="nearbyPharmacy">Nearby Pharmacy</a>           
        <a class="nearbyLabs" href="/nearbyLabs">Nearby Labs</a>        
        <a class="medicines" href="/medicines">Medicines</a>
        <a class="askDoc" href="/askDoc">Ask a Doctor</a>
        <a class="yourReports" href="/yourReports">Your Reports</a>
        <a class="offers" href="/offers">Offers</a>
    </div> 
</header>
<body>
    
