<%- include('partials/header.ejs') %>
<div class="wrapper" style="width: 1265px;
     height: 200px;
     left: auto;">
        <div class="carousel" style="left: 15px;">
            <div class="carouselItem">
                <div class="carouselItemHead">
                    1
                </div>
                <div class="carouselItemBody">
                    <p class="title">1st Item</p>
                    <p>Details goes Here</p>
                </div>
            </div>
            <div class="carouselItem">
                <div class="carouselItemHead">
                    2
                </div>
                <div class="carouselItemBody">
                    <p class="title">2nd Item</p>
                    <p>Details goes Here</p>
                </div>
            </div>
            <div class="carouselItem">
                <div class="carouselItemHead">
                    3
                </div>
                <div class="carouselItemBody">
                    <p class="title">3rd Item</p>
                    <p>Details goes Here</p>
                </div>
            </div>
            <div class="carouselItem">
                <div class="carouselItemHead">
                    4
                </div>
                <div class="carouselItemBody">
                    <p class="title">4th Item</p>
                    <p>Details goes Here</p>
                </div>
            </div>
            <div class="carouselItem">
                <div class="carouselItemHead">
                    5
                </div>
                <div class="carouselItemBody">
                    <p class="title">5th Item</p>
                    <p>Details goes Here</p>
                </div>
            </div>
            <div class="carouselItem">
                <div class="carouselItemHead">
                    6
                </div>
                <div class="carouselItemBody">
                    <p class="title">6th Item</p>
                    <p>Details goes Here</p>
                </div>
            </div>
            <div class="carouselItem">
                <div class="carouselItemHead">
                    7
                </div>
                <div class="carouselItemBody">
                    <p class="title">7th Item</p>
                    <p>Details goes Here</p>
                </div>
            </div>
            <div class="carouselItem">
                <div class="carouselItemHead">
                    8
                </div>
                <div class="carouselItemBody">
                    <p class="title">8th Item</p>
                    <p>Details goes Here</p>
                </div>
            </div>
            <div class="carouselItem">
                <div class="carouselItemHead">
                    9
                </div>
                <div class="carouselItemBody">
                    <p class="title">9th Item</p>
                    <p>Details goes Here</p>
                </div>
            </div>
        </div>
     </div>   

     <div class="container">
        <div class="card">       
        <div class="face face1">       
        <div class="content">        
        <h4>Find Doctors Near You</h4>  <img class="docPic" src="Images/team-young-specialist-doctors-standing-corridor-hospital.jpg" alt="">      
        </div>        
        </div>        
        <div class="face face2">       
        <div class="content">        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
        <a href="#">Locate Now</a>
        </div> 
        </div>        
        </div>

        <div class="card">
            <div class="face face1">            
            <div class="content">            
            <h4>Instant Video Consultation</h4>  <img class="docPic" src="images/successful-medical-team.jpg" alt="">         
            </div> </div>            
            <div class="face face2">
             <div class="content">            
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis            
            provident at.</p>            
            <a href="#">Consult Now</a>            
            </div>            
            </div>            
            </div>           
            <div class="card">            
            <div class="face face1"> 
            <div class="content">            
            <h4>Medicines</h4>  <img class="docPic" src="images/medium-shot-man-signing-document.jpg" alt="">          
            </div>            </div>            
            <div class="face face2">            
            <div class="content">            
            <p>Lorem ipsum dolor sit amet consectetur            
            adipisicing elit. Quas cum cumque minus iste veritatis           
            provident at.</p>           
            <a href="#">Buy Now</a>            
            </div>            
            </div>            
        </div>           
    </div>   
    <div class="container">
        <div class="card">       
        <div class="face face1">       
        <div class="content">        
        <h4>Check Your Reports</h4>  <img class="docPic" src="images/medical-report-record-form-history-patient-concept.jpg" alt="">      
        </div>        
        </div>        
        <div class="face face2">       
        <div class="content">        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
        <a href="#">Locate Now</a>
        </div> 
        </div>        
        </div>

        <div class="card">
            <div class="face face1">            
            <div class="content">            
            <h4>Find Nearby Labs/clinics</h4>  <img class="docPic" src="Images/chemist-nurse-sitting-scientific-equipped-lab-examining-virus-evolution-using-high-tech-researching-treatment-against-covid19-virus.jpg" alt="">         
            </div> </div>            
            <div class="face face2">
             <div class="content">            
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis            
            provident at.</p>            
            <a href="#">Consult Now</a>            
            </div>            
            </div>            
            </div>           
            <div class="card">            
            <div class="face face1"> 
            <div class="content">            
            <h4>Nearby Pharamacy</h4>  <img class="docPic" src="Images/medium-shot-pharmacist-helping-patient.jpg" alt="">          
            </div>            </div>            
            <div class="face face2">            
            <div class="content">            
            <p>Lorem ipsum dolor sit amet consectetur            
            adipisicing elit. Quas cum cumque minus iste veritatis           
            provident at.</p>           
            <a href="#">Buy Now</a>            
            </div>            
            </div>            
        </div>           
    </div>
    
    <div class="slider">
      <div class="controls">
        <div class="up">
          <i class="fa fa-chevron-up"></i>
        </div>
        <div class="down">
          <i class="fa fa-chevron-down"></i>
        </div>

      </div>
      <div class="wrapper2">
        <div class="left">
          <div>
            <h2>Shop By Health Concerns</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          </div>  
          <div>
            <h2>Consult Top Doctors By Health Concerns</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          </div>  
          <div>
            <h2>Book Appointment For An In-Clinic Consultation</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          </div>
          <div>
            <h2>Health Check-Ups/Tests In Nearby Labs</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          </div>   
          <div>
            <h2>Recommendation From Specalists</h2>
          <p>Check the hassle-free health beneficial Recommendations from our specalists based on you Reports and health Concerns</p>
          </div>    
        </div>
        <div class="right">
            <div class="superContainer">
                <div class="card-container">
                    <div class="myCard">
                        <div class="innerCard">
                            <div class="frontSide">
                                <p class="title">Sparsh Pharmacy</p>
                                <img src="pharmacy-images/sparsh-pharmacy.jpeg" alt="sparsh-pharmacy">
                                <p>Hover Me</p>
                            </div>
                            <div class="backSide">
                                <p class="title">Sparsh Pharmacy</p>
                                <a href="sparsh.html">
                                    <button id="locate-button">Locate</button>
                                </a>
                                <button id="call-now-button">Call Now</button>        
                            </div>  
                        </div>
                    </div>
                
                    
                        <div class="myCard">
                            <div class="innerCard">
                                <div class="frontSide">
                                    <p class="title">Sparsh Pharmacy</p>
                                    <img src="pharmacy-images/sparsh-pharmacy.jpeg" alt="sparsh-pharmacy">
                                    <p>Hover Me</p>
                                </div>
                                <div class="backSide">
                                    <p class="title">Sparsh Pharmacy</p>
                                    <a href="sparsh.html">
                                        <button id="locate-button">Locate</button>
                                    </a>
                                    <button id="call-now-button">Call Now</button>        
                                </div>  
                            </div>
                        </div>   
                </div>
            
            <div>
                <br>
                <br>
                <div class="card-container">
                    <div class="myCard">
                        <div class="innerCard">
                            <div class="frontSide">
                                <p class="title">Sparsh Pharmacy</p>
                                <img src="pharmacy-images/sparsh-pharmacy.jpeg" alt="sparsh-pharmacy">
                                <p>Hover Me</p>
                            </div>
                            <div class="backSide">
                                <p class="title">Sparsh Pharmacy</p>
                                <a href="sparsh.html">
                                    <button id="locate-button">Locate</button>
                                </a>
                                <button id="call-now-button">Call Now</button>        
                            </div>  
                        </div>
                    </div>
                
                    
                        <div class="myCard">
                            <div class="innerCard">
                                <div class="frontSide">
                                    <p class="title">Sparsh Pharmacy</p>
                                    <img src="pharmacy-images/sparsh-pharmacy.jpeg" alt="sparsh-pharmacy">
                                    <p>Hover Me</p>
                                </div>
                                <div class="backSide">
                                    <p class="title">Sparsh Pharmacy</p>
                                    <a href="sparsh.html">
                                        <button id="locate-button">Locate</button>
                                    </a>
                                    <button id="call-now-button">Call Now</button>        
                                </div>  
                            </div>
                        </div>   
                    </div>
            </div>
        </div>
        <br>
        <br>
        <div class="superContainer">
            <div class="card-container">
                <div class="myCard">
                    <div class="innerCard">
                        <div class="frontSide">
                            <p class="title">Sparsh Pharmacy</p>
                            <img src="pharmacy-images/sparsh-pharmacy.jpeg" alt="sparsh-pharmacy">
                            <p>Hover Me</p>
                        </div>
                        <div class="backSide">
                            <p class="title">Sparsh Pharmacy</p>
                            <a href="sparsh.html">
                                <button id="locate-button">Locate</button>
                            </a>
                            <button id="call-now-button">Call Now</button>        
                        </div>  
                    </div>
                </div>
            
                
                    <div class="myCard">
                        <div class="innerCard">
                            <div class="frontSide">
                                <p class="title">Sparsh Pharmacy</p>
                                <img src="pharmacy-images/sparsh-pharmacy.jpeg" alt="sparsh-pharmacy">
                                <p>Hover Me</p>
                            </div>
                            <div class="backSide">
                                <p class="title">Sparsh Pharmacy</p>
                                <a href="sparsh.html">
                                    <button id="locate-button">Locate</button>
                                </a>
                                <button id="call-now-button">Call Now</button>        
                            </div>  
                        </div>
                    </div>   
            </div>
        
        <div>
            <br>
            <br>
            <div class="card-container">
                <div class="myCard">
                    <div class="innerCard">
                        <div class="frontSide">
                            <p class="title">Sparsh Pharmacy</p>
                            <img src="pharmacy-images/sparsh-pharmacy.jpeg" alt="sparsh-pharmacy">
                            <p>Hover Me</p>
                        </div>
                        <div class="backSide">
                            <p class="title">Sparsh Pharmacy</p>
                            <a href="sparsh.html">
                                <button id="locate-button">Locate</button>
                            </a>
                            <button id="call-now-button">Call Now</button>        
                        </div>  
                    </div>
                </div>
            
                
                    <div class="myCard">
                        <div class="innerCard">
                            <div class="frontSide">
                                <p class="title">Sparsh Pharmacy</p>
                                <img src="pharmacy-images/sparsh-pharmacy.jpeg" alt="sparsh-pharmacy">
                                <p>Hover Me</p>
                            </div>
                            <div class="backSide">
                                <p class="title">Sparsh Pharmacy</p>
                                <a href="sparsh.html">
                                    <button id="locate-button">Locate</button>
                                </a>
                                <button id="call-now-button">Call Now</button>        
                            </div>  
                        </div>
                    </div>   
                </div>
        </div>
    </div>
    <br>
    
    <div class="superContainer">
        <div class="card-container">
            <div class="myCard">
                <div class="innerCard">
                    <div class="frontSide">
                        <p class="title">Sparsh Pharmacy</p>
                        <img src="pharmacy-images/sparsh-pharmacy.jpeg" alt="sparsh-pharmacy">
                        <p>Hover Me</p>
                    </div>
                    <div class="backSide">
                        <p class="title">Sparsh Pharmacy</p>
                        <a href="sparsh.html">
                            <button id="locate-button">Locate</button>
                        </a>
                        <button id="call-now-button">Call Now</button>        
                    </div>  
                </div>
            </div>
        
            
                <div class="myCard">
                    <div class="innerCard">
                        <div class="frontSide">
                            <p class="title">Sparsh Pharmacy</p>
                            <img src="pharmacy-images/sparsh-pharmacy.jpeg" alt="sparsh-pharmacy">
                            <p>Hover Me</p>
                        </div>
                        <div class="backSide">
                            <p class="title">Sparsh Pharmacy</p>
                            <a href="sparsh.html">
                                <button id="locate-button">Locate</button>
                            </a>
                            <button id="call-now-button">Call Now</button>        
                        </div>  
                    </div>
                </div>   
        </div>
    
    <div>
        <br>
        <br>
        <div class="card-container">
            <div class="myCard">
                <div class="innerCard">
                    <div class="frontSide">
                        <p class="title">Sparsh Pharmacy</p>
                        <img src="pharmacy-images/sparsh-pharmacy.jpeg" alt="sparsh-pharmacy">
                        <p>Hover Me</p>
                    </div>
                    <div class="backSide">
                        <p class="title">Sparsh Pharmacy</p>
                        <a href="sparsh.html">
                            <button id="locate-button">Locate</button>
                        </a>
                        <button id="call-now-button">Call Now</button>        
                    </div>  
                </div>
            </div>
        
            
                <div class="myCard">
                    <div class="innerCard">
                        <div class="frontSide">
                            <p class="title">Sparsh Pharmacy</p>
                            <img src="pharmacy-images/sparsh-pharmacy.jpeg" alt="sparsh-pharmacy">
                            <p>Hover Me</p>
                        </div>
                        <div class="backSide">
                            <p class="title">Sparsh Pharmacy</p>
                            <a href="sparsh.html">
                                <button id="locate-button">Locate</button>
                            </a>
                            <button id="call-now-button">Call Now</button>        
                        </div>  
                    </div>
                </div>   
            </div>
    </div>
</div>
<br>

<div class="superContainer">
    <div class="card-container">
        <div class="myCard">
            <div class="innerCard">
                <div class="frontSide">
                    <p class="title">Sparsh Pharmacy</p>
                    <img src="pharmacy-images/sparsh-pharmacy.jpeg" alt="sparsh-pharmacy">
                    <p>Hover Me</p>
                </div>
                <div class="backSide">
                    <p class="title">Sparsh Pharmacy</p>
                    <a href="sparsh.html">
                        <button id="locate-button">Locate</button>
                    </a>
                    <button id="call-now-button">Call Now</button>        
                </div>  
            </div>
        </div>
    
        
            <div class="myCard">
                <div class="innerCard">
                    <div class="frontSide">
                        <p class="title">Sparsh Pharmacy</p>
                        <img src="pharmacy-images/sparsh-pharmacy.jpeg" alt="sparsh-pharmacy">
                        <p>Hover Me</p>
                    </div>
                    <div class="backSide">
                        <p class="title">Sparsh Pharmacy</p>
                        <a href="sparsh.html">
                            <button id="locate-button">Locate</button>
                        </a>
                        <button id="call-now-button">Call Now</button>        
                    </div>  
                </div>
            </div>   
    </div>

<div>
    <br>
    <br>
    <div class="card-container">
        <div class="myCard">
            <div class="innerCard">
                <div class="frontSide">
                    <p class="title">Sparsh Pharmacy</p>
                    <img src="pharmacy-images/sparsh-pharmacy.jpeg" alt="sparsh-pharmacy">
                    <p>Hover Me</p>
                </div>
                <div class="backSide">
                    <p class="title">Sparsh Pharmacy</p>
                    <a href="sparsh.html">
                        <button id="locate-button">Locate</button>
                    </a>
                    <button id="call-now-button">Call Now</button>        
                </div>  
            </div>
        </div>
    
        
            <div class="myCard">
                <div class="innerCard">
                    <div class="frontSide">
                        <p class="title">Sparsh Pharmacy</p>
                        <img src="pharmacy-images/sparsh-pharmacy.jpeg" alt="sparsh-pharmacy">
                        <p>Hover Me</p>
                    </div>
                    <div class="backSide">
                        <p class="title">Sparsh Pharmacy</p>
                        <a href="sparsh.html">
                            <button id="locate-button">Locate</button>
                        </a>
                        <button id="call-now-button">Call Now</button>        
                    </div>  
                </div>
            </div>   
        </div>
</div>
</div>

<br>
            <div class="superContainer">
                <div class="card-container">
                    <div class="myCard">
                        <div class="innerCard">
                            <div class="frontSide">
                                <p class="title">Sparsh Pharmacy</p>
                                <img src="pharmacy-images/sparsh-pharmacy.jpeg" alt="sparsh-pharmacy">
                                <p>Hover Me</p>
                            </div>
                            <div class="backSide">
                                <p class="title">Sparsh Pharmacy</p>
                                <a href="sparsh.html">
                                    <button id="locate-button">Locate</button>
                                </a>
                                <button id="call-now-button">Call Now</button>        
                            </div>  
                        </div>
                    </div>
                
                    
                        <div class="myCard">
                            <div class="innerCard">
                                <div class="frontSide">
                                    <p class="title">Sparsh Pharmacy</p>
                                    <img src="pharmacy-images/sparsh-pharmacy.jpeg" alt="sparsh-pharmacy">
                                    <p>Hover Me</p>
                                </div>
                                <div class="backSide">
                                    <p class="title">Sparsh Pharmacy</p>
                                    <a href="sparsh.html">
                                        <button id="locate-button">Locate</button>
                                    </a>
                                    <button id="call-now-button">Call Now</button>        
                                </div>  
                            </div>
                        </div>   
                    </div>
            
            <div>
                <br>
                <br>
                <div class="card-container">
                    <div class="myCard">
                        <div class="innerCard">
                            <div class="frontSide">
                                <p class="title">Sparsh Pharmacy</p>
                                <img src="pharmacy-images/sparsh-pharmacy.jpeg" alt="sparsh-pharmacy">
                                <p>Hover Me</p>
                            </div>
                            <div class="backSide">
                                <p class="title">Sparsh Pharmacy</p>
                                <a href="sparsh.html">
                                    <button id="locate-button">Locate</button>
                                </a>
                                <button id="call-now-button">Call Now</button>        
                            </div>  
                        </div>
                    </div>
                
                    
                        <div class="myCard">
                            <div class="innerCard">
                                <div class="frontSide">
                                    <p class="title">Sparsh Pharmacy</p>
                                    <img src="pharmacy-images/sparsh-pharmacy.jpeg" alt="sparsh-pharmacy">
                                    <p>Hover Me</p>
                                </div>
                                <div class="backSide">
                                    <p class="title">Sparsh Pharmacy</p>
                                    <a href="sparsh.html">
                                        <button id="locate-button">Locate</button>
                                    </a>
                                    <button id="call-now-button">Call Now</button>        
                                </div>  
                            </div>
                        </div>   
                    </div>
            </div>

        </div>
      </div>
    </div>
    
    <script src="scripts/index.js" ></script>

    <%- include('partials/footer.ejs') %>